<div class="site-imprint-sm">
  {{ site.company }} <br>
  Austrasse 52 <br>
  4051 Basel <br>
  {%- if page.lang == "de" -%}
  	Schweiz
  {%- else -%}
  	Switzerland
  {%- endif -%}
  <br>
  <br>
  {{ site.telephone }}<br>
  <a href="mailto:{{ site.email }}">{{ site.email }}</a>
</div>
<div class="copyright-statement">
  &#169; {{ 'now' | date: "%Y" + 1 }} {{ site.company }} &#183;&nbsp;
  {%- if page.lang == "de" -%}
  <a href="{{ "/" | relative_url }}de/impressum/">Impressum</a>
  {%- else -%}
  <a href="{{ "/" | relative_url }}en/imprint/">Imprint</a>
  {%- endif -%}
  
</div>
