<div class="site-imprint-sm">
  {{ site.company }}
  {%- if page.lang == "de" -%}
    &nbsp;{{ site.companyAddOn_de }}<br>
  {%- else -%}
    &nbsp;{{ site.companyAddOn_en }}<br>
  {%- endif -%}
  Austrasse 52 <br>
  4051 Basel <br>
  {%- if page.lang == "de" -%}
  	Schweiz
  {%- else -%}
  	Switzerland
  {%- endif -%}
  <br>
  <br>
  {{ site.telephone }}<br>
  <a href="mailto:{{ site.email }}">{{ site.email }}</a>
</div>
<div class="copyright-statement">
  &#169; {{ 'now' | date: "%Y" + 1 }} {{ site.company }}
</div>
