<div class="site-nav">

  <div class="site-logo">
    <a href="{{ "/" | relative_url }}"><img src="/assets/images/kmapper_k_3b.png"></a>
  </div>

  <div class="site-pages">
      <div>
        <a href="/informationsarchitektur">Informationsarchitektur</a>
      </div>
      <div>
        <a href="/prototyping">Prototyping</a>
      </div>
      <div>
        <a href="/entwicklung">Entwicklung</a>
      </div>
      <div>
        <a href="/ueber">Über</a>
      </div>
      <div>
        <a href="https://www.kmapper.com" target="_blank">kmapper.org</a>
      </div>
  </div>

</div>
