<button class="hamburger hamburger--boring" type="button">
   <span class="hamburger-box">
     <span class="hamburger-inner"></span>
   </span>
</button>

<div class="site-nav">

  {%- if page.lang == "de" -%}

    <div class="site-logo">
      <a href="{{ "/" | relative_url }}de/"><img src="{{ "/" | relative_url }}assets/images/kmapper_k_3b.png"></a>
    </div>

    <div class="site-links">

      <div class="site-lang">
        {%- for site_en in site.en -%}
          {%- if page.uid == site_en.uid -%}
            <b>DE</b> | <a href="{{ site_en.url | relative_url }}">EN</a>
          {%- endif -%}
        {%- endfor -%}
        {%- if page.uid == "hme" -%}
          <b>DE</b> | <a href="{{ "/" | relative_url }}">EN</a>
        {%- endif -%}
      </div>

      <div id="services">
        <div class="site-page">
          <a href="{{ "/" | relative_url }}de/daten-und-informationsarchitektur">Architektur</a>
        </div>
        <div class="site-page">
          <a href="{{ "/" | relative_url }}de/prototyping">Prototyping</a>
        </div>
        <div class="site-page">
          <a href="{{ "/" | relative_url }}de/entwicklung">Entwicklung</a>
        </div>
      </div>
      <div id="projects">
        <div class="site-page">
          <a id="kmapper-link" href="http://kmapper.org/" target="_blank">kmapper.org</a>
        </div>
        <div id="kmapper-preview">
          <img src="{{ "/" | relative_url }}assets/images/kmapper_preview.png">
        </div>
      </div>
      <div id="info">
        <div class="site-page">
          <a href="{{ "/" | relative_url }}de/ueber">Über</a>
        </div>
        <div class="site-page">
          <a href="{{ "/" | relative_url }}de/impressum">Impressum</a>
        </div>
      </div>

    </div>

  {%- else -%}

    <div class="site-logo">
      <a href="{{ "/" | relative_url }}"><img src="{{ "/" | relative_url }}assets/images/kmapper_k_3b.png"></a>
    </div>

    <div class="site-links">

      <div class="site-lang">
        {%- for site_de in site.de -%}
          {%- if page.uid == site_de.uid -%}
            <a href="{{ site_de.url | relative_url }}">DE</a> | <b>EN</b>
          {%- endif -%}
        {%- endfor -%}
      </div>

      <div id="services">
        <div class="site-page">
          <a href="{{ "/" | relative_url }}en/data-and-information-architecture">Architecture</a>
        </div>
        <div class="site-page">
          <a href="{{ "/" | relative_url }}en/prototyping">Prototyping</a>
        </div>
        <div class="site-page">
          <a href="{{ "/" | relative_url }}en/development">Development</a>
        </div>
      </div>
      <div id="projects">
        <div class="site-page">
          <a id="kmapper-link" href="http://kmapper.org/" target="_blank">kmapper.org</a>
        </div>
        <div id="kmapper-preview">
          <img src="{{ "/" | relative_url }}assets/images/kmapper_preview.png">
        </div>
      </div>
      <div id="info">
        <div class="site-page">
          <a href="{{ "/" | relative_url }}en/about">About</a>
        </div>
        <div class="site-page">
          <a href="{{ "/" | relative_url }}en/imprint">Imprint</a>
        </div>
      </div>

    </div>

  {%- endif -%}

</div>
