@charset "utf-8";

// Import partial
@import
  "simple-grid",
  "hamburgers/hamburgers"
;

$logo-width: 120px;
$margin: 0.5rem;

a {
	text-decoration: none;
}
a:hover {
	color: #514efd;
}

.hamburger {
	display: none;
}

.site-nav {
	position: fixed;
	top: 2.8rem;
	z-index: 10;

	.site-logo {
		width: $logo-width;
		img {
			width: $logo-width;
		}
	}

	.site-links {

		#services {
			font-size: 1.1em;
		}

		#projects {
			margin-top: 5rem;
		}

		#info {
			position: fixed;
			bottom: 180px;
			// margin-top: 5rem;
		}

		.site-page {
			font-weight: bold;
			margin: $margin 0 $margin 0;
		}

	}

}

.site-imprint-sm {
	position: fixed;
	bottom: $margin*2;
	font-size: 0.9em;
}

// if the screen is greater than $breakpoint-med
@media only screen and (min-width: $breakpoint-med) {
	// always, always show .site-pages!
	.site-links {
		margin-top: 2.2rem;
		display: block !important;
	}
}

// if the screen is smaller than $breakpoint-med
@media only screen and (max-width: $breakpoint-med) {

	.hamburger {
		position: fixed;
		float: right;
		top: $margin;
		right: $margin;
		display: block;
		z-index: 20;
	}

	.site-nav {
		position: relative;
		top: 0;
		left: 0;

		.site-logo {
			padding-top: 0;
		}

		.site-links {
			display: none;
			position: fixed;
			top: 0;
			right: 0;
			padding-left: $margin;
			background-color: white;
			width: 80%;
			height: 100%;

			#services {

			}

			#projects {
				margin-top: 2rem;
			}

			#info {
				position: relative;
				top: 0;
				margin-top: 2rem;
			}
		}
	}

	.site-imprint-sm {
		position: relative;
		top: 0;
		left: 0;
	}
}
