@charset "utf-8";

// Import partials
@import
  "simple-grid",
  "hamburgers/hamburgers"
;

$logo-width: 120px;
$margin: 0.5rem;

a {
	color: #514efd;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

ul {
	font-size: 1.125rem;
	font-weight: 400;
	line-height: 1.8; 
}

.home {
		position: relative;
		width: 100%;
		height: 94vh;

	.site-titles {
		position: absolute;
		top: $margin*0.1;

		h1 {
			margin-bottom: 0;
		}
		h3 {
			margin-top: 0;
		}
	}

	img { 
		margin-top: $margin*2;
		height: 100%;
		width: auto;
	}
}

.hamburger {
	display: none;
}

.site-nav {
	position: fixed;
	top: 2.8rem;
	z-index: 10;

	.site-logo {
		width: $logo-width;
		img {
			width: $logo-width;
		}
	}

	.site-lang {
		position: fixed;
		top: $margin*2;
		right: $margin*2;
	}

	.site-links {

		#services {
			font-size: 1.1em;
		}

		#projects {
			margin-top: 5rem;

			#kmapper-preview {
				display: none;
				
				img {
					position: relative;
					top: -95px;
					left: 80px;
					width: 80px;
					z-index: -1;
				}
			}

		}

		#info {
			position: fixed;
			bottom: 180px;
		}

		.site-page {
			font-weight: bold;
			margin: $margin 0 $margin 0;

			a {
			  position: relative;
			  text-decoration: none;
			  display: inline-block;
			  color: $dark-grey;
			  padding: 0 1px;

			  &:hover {
			    color: white;
			    background: #43A6DD 
			  }
			}
		}
	}
}

.content {

}

.site-imprint-sm {
	position: fixed;
	bottom: $margin*2;
	font-size: 0.9em;
}

.copyright-statement {
	position: fixed;
	bottom: $margin*2;
	right: $margin*2;
	font-size: 0.8rem;
}

.service-terms {
	font-size: 1.125rem;
	font-weight: bold;
	margin-bottom: 50px;
}

.principle {
	
}

.team-member {
	position: relative;
	width: 100%;
	max-width: 225px;
	margin-top: 1.5em;
}

.service-image {
	position: relative;
	width: 100%;
	img {
		width: 40%;
		min-width: 500px;
	}
}

// if the screen is greater than $breakpoint-med
@media only screen and (min-width: $breakpoint-med) {
	// always, always show .site-pages!
	.site-links {
		margin-top: 2.2rem;
		display: block !important;
	}
}

// if the screen is smaller than $breakpoint-med
@media only screen and (max-width: $breakpoint-med) {

	h1 {
	  font-size: 2rem;
	}

	h2 {
	  font-size: 1.5rem;
	}

	.home {
		position: relative;
		width: 100%;
		height: auto;

		img { 
			margin-top: $margin*2;
			width: 100%;
			height: auto;
		}
	}

	.hamburger {
		position: fixed;
		float: right;
		top: $margin;
		right: $margin;
		display: block;
		z-index: 20;
	}

	.site-nav {
		position: relative;
		top: 0;
		left: 0;

		.site-logo {
			padding-top: 0;
		}

		.site-links {
			display: none;
			position: fixed;
			top: 0;
			right: 0;
			padding-left: $margin*4;
			background-color: white;
			width: 80%;
			height: 100%;

			.site-lang {
				position: relative;
				top: 0;
				left: 0;
				margin: $margin*2 0 $margin*4 0;
			}

			#services {

			}

			#projects {
				margin-top: 2rem;
			}

			#info {
				position: relative;
				top: 0;
				margin-top: 2rem;
			}
		}
	}

	.site-imprint-sm {
		position: relative;
		top: 0;
		left: 0;
	}

	.copyright-statement {
		position: relative;
		top: 0;
		left: 0;
		text-align: center;
		margin-top: $margin*2;
	}

	.service-image {
		text-align: center;
		img {
			width: 85%;
			min-width: 360px;
		}
	}
}
