---
layout: default
---

<div class="row">
  <div class="col-12">
    {%- if page.title -%}
    <!-- Show page title -->
    <h1>{{ page.title }}</h1>
    {%- endif -%}
    <h3>{{ page.h3-clients }}</h3>
    <p>{{ page.p1-clients }}</p>
    <ul>
      {%- for client in page.clients -%}
        <li>{{ client.name }}</li>
      {%- endfor -%}
    </ul>
  </div>
  <div class="col-12">
    <h3>{{ page.h3-about }}</h3>
    <p>{{ page.p-1-kmapper }}</p>
    <p>{{ page.p-2-kmapper }}</p>
    <p>{{ page.p-3-kmapper }}</p>
  </div>
</div>
<!-- <h2>Leute</h2> -->
{%- for person in page.people -%}
<div class="row">
  <div class="col-3">
    <img
      class="team-member"
      src="{% capture url %}/assets/images/people/{{ person.image }}{% endcapture %}{{ url | relative_url }}"
    />
  </div>
  <div class="col-9">
    <h3>{{ person.name }}</h3>
    {{ person.desc }}
    <p>
      <a href="mailto:{{ site.email_cyrill }}">E-Mail</a> &#183; {{ person.socials |
      join: " &#183; " }}
    </p>
  </div>
</div>
{%- endfor -%}
<div class="row">
  <div class="col-12">
    <p>{{ page.p-karlie }}</p>
  </div>
</div>
