---
layout: default
---

<div class="row">
  <div class="col-12 tutorial">
    <h1>Web Tutorials</h1>
    {%- if page.title -%}
    <!-- Show page title -->
    <h2>{{ page.title }}</h2>
    {%- endif -%}

    <p>
      {{ page.p-1 }}
    </p>

    <p>
      {{ page.p-2 }}
    </p>

    <p class="tutorial-image">
      <img
        class="image-landscape"
        src="{% capture url %}/assets/images/tutorials/accessing-url/{{ page.image-1 }}{% endcapture %}{{ url | relative_url }}"
      />
    </p>

    <p class="tutorial-image">
      <img
        class="image-landscape"
        src="{% capture url %}/assets/images/tutorials/accessing-url/{{ page.image-2 }}{% endcapture %}{{ url | relative_url }}"
      />
    </p>

    <p class="tutorial-image">
      <img
        class="image-landscape"
        src="{% capture url %}/assets/images/tutorials/accessing-url/{{ page.image-3 }}{% endcapture %}{{ url | relative_url }}"
      />
    </p>

    <p>
      {{ page.p-3 }}
    </p>

    <p>
      {{ page.p-4 }}
    </p>

    <p>
      {{ page.p-5 }}
    </p>
    <p>
      {{ page.p-6 }}
    </p>

    <p class="tutorial-image">
      <img
        class="image-landscape"
        src="{% capture url %}/assets/images/tutorials/accessing-url/{{ page.image-4 }}{% endcapture %}{{ url | relative_url }}"
      />
    </p>

    <p class="tutorial-image">
      <img
        class="image-landscape"
        src="{% capture url %}/assets/images/tutorials/accessing-url/{{ page.image-5 }}{% endcapture %}{{ url | relative_url }}"
      />
    </p>

    <p class="tutorial-image">
      <img
        class="image-landscape"
        src="{% capture url %}/assets/images/tutorials/accessing-url/{{ page.image-6 }}{% endcapture %}{{ url | relative_url }}"
      />
    </p>

    <p>
      {{ page.p-7 }}
    </p>

    <p class="tutorial-image">
      <img
        class="image-landscape"
        src="{% capture url %}/assets/images/tutorials/accessing-url/{{ page.image-7 }}{% endcapture %}{{ url | relative_url }}"
      />
    </p>

    <div class="tutorial-sidenote">
      <h3>{{ page.h-3 }}</h3>
      <p>
        {{ page.p-8 }}
      </p>
      <p>
        {{ page.p-9 }}
      </p>
      <p>
        {{ page.p-10 }}
      </p>
    </div>
  </div>
</div>
