---
layout: default
---
<div class="row">
    <div class="col-12">

		<div class="home">
			<div class="site-titles">
				{%- if page.lang == "de" -%}
					<h1 class="tagline">
						Agentur für die<br />
						<a href="{{ "/" | relative_url }}de/kuration/" class="tagline-nav">Kuration</a>, 
						<a href="{{ "/" | relative_url }}de/organisation/" class="tagline-nav">Organisation</a> und
						<a href="{{ "/" | relative_url }}de/publikation/" class="tagline-nav">Publikation</a><br />
						Ihrer Daten und Informationen
					</h1>
				{%- else -%}
					<h1 class="tagline">
						Agency for the<br />
						<a href="{{ "/" | relative_url }}en/curation/" class="tagline-nav">curation</a>,
						<a href="{{ "/" | relative_url }}en/organization/" class="tagline-nav">organization</a>, and
						<a href="{{ "/" | relative_url }}en/publication/" class="tagline-nav">publication</a><br />
						of your data and information
					</h1>
				{%- endif -%}
				<div class="home-terms">
  		  	{{ page.terms | join: " &#183; " }}
    		</div>
			</div>
			<img src="{{ "/" | relative_url }}assets/images/kmapper_k.png">
			<div >
				{{ content }}
			</div>
		</div>
	</div>
</div>
