---
layout: default
---
<div class="row">
  <div class="col-12">
		<div class="home">
			<div class="site-titles">
				{%- if page.lang == "de" -%}
					<h1 class="tagline">
						Die kollaborative<br />Datenberatung:<br />
						<a href="{{ "/" | relative_url }}de/kuration/" class="tagline-nav">Kuration</a>, 
						<a href="{{ "/" | relative_url }}de/organisation/" class="tagline-nav">Organisation</a><br />
						und <a href="{{ "/" | relative_url }}de/publikation/" class="tagline-nav">Publikation</a><br />
						Ihrer Daten und Informationen
					</h1>
				{%- else -%}
					<h1 class="tagline">
						The Collaborative<br />Data Consulting:<br />
						<a href="{{ "/" | relative_url }}en/curation/" class="tagline-nav">Curation</a>,
						<a href="{{ "/" | relative_url }}en/organization/" class="tagline-nav">Organization</a>,<br />
						and <a href="{{ "/" | relative_url }}en/publication/" class="tagline-nav">Publication</a><br />
						of your Data and Information
					</h1>
				{%- endif -%}
				<h2>
					{%- if page.lang == "de" -%}
						kmapper offeriert Business-Analyse,<br />
						Requirements Engineering und Entwicklung
					{%- else -%}
						kmapper offers business analysis,<br />
						requirements engineering, and development
					{%- endif -%}
				</h2>	
			</div>
			<img src="{{ "/" | relative_url }}assets/images/kmapper_k.png">
			<div >
				{{ content }}
			</div>
		</div>
	</div>
</div>
