---
layout: default
---
<div class="row">
    <div class="col-12">

      {%- if page.title -%}
        <!-- Show page title -->
        <h1>{{ page.title }}</h1>
      {%- endif -%}

    <div>

    	<div class="service-terms">
  		  	{%- if page.terms -%}
  		  		<!-- List the key terms -->
  		  		{{ page.terms | join: " &#183; " }}
  		  	{%- endif -%}
    	</div>

      <div class="service-image">
        <p><img src="{% capture url %}/assets/images/{{ page.image }}{% endcapture %}{{ url | relative_url }}"></p>
        {%- if page.lang == "en" -%}
          <p>Knowledge management cycle</p>
        {%- else -%}
          <p>Zyklus des Wissensmanagements</p>
        {%- endif -%}
      </div>

      {{ content }}

      <p>
        {%- assign cur_disp = "none" -%}
        {%- assign org_disp = "none" -%}
        {%- assign pub_disp = "none" -%}

        {%- if page.uid == "cur" -%}
          {%- assign org_disp = "inline" -%}
        {%- elsif page.uid == "org" -%}
          {%- assign pub_disp = "inline" -%}
        {%- endif -%}

        {%- if page.lang == "de" -%}
          <a style="display: {{ cur_disp }}" href="{{ "/" | relative_url }}de/kuration">Kuration</a>
          <a style="display: {{ org_disp }}" href="{{ "/" | relative_url }}de/organisation">Organisation</a>
          <a style="display: {{ pub_disp }}" href="{{ "/" | relative_url }}de/publikation">Publikation</a>
        {%- else -%}
          <a style="display: {{ cur_disp }}" href="{{ "/" | relative_url }}en/curation">Curation</a>
          <a style="display: {{ org_disp }}" href="{{ "/" | relative_url }}en/organization">Organization</a>
          <a style="display: {{ pub_disp }}" href="{{ "/" | relative_url }}en/publication">Publication</a>
        {%- endif -%}
      </p>

    </div>
  </div>
</div>
