---
layout: default
---
<div class="row">
  <div class="col-12 tutorial">
    {%- if page.title -%}
    <!-- Show page title -->
    <h1>{{ page.title }}</h1>
    {%- endif -%}
    <p>
      {{ page.p-1 }}
    </p>
    <p>
      <ul>
        {%- for tutorial in page.p-2-tutorials -%}
          <li>{{ tutorial }}</li>
        {%- endfor -%}
      </ul>
    </p>
    <p>
      {{ page.p-3 }}
    </p>
    <p>
      {{ page.p-4 }}
    </p>
    <p class="tutorial-image">
      <img style="max-width: 350px; width: 100%"
        src="{% capture url %}/assets/images/tutorials/{{ page.image-1 }}{% endcapture %}{{ url | relative_url }}"
      />
    </p>
  </div>
</div>
