---
# Only the main Sass file needs front matter (the dashes are enough)
---

.background-k {
	background-image: url("{{site.url}}{{ site.baseurl }}/assets/images/kmapper_k.png");
	background-repeat: no-repeat;
	background-size: 35% auto;
	background-position: 0 1%;
}

@import "kmapper";