<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    <div class="container">
      <div class="row">
        <div class="col-3 navigation">
          <!-- This content will take up 3/12 of the container -->
          {%- include navigation.html -%}
        </div>
        <div class="col-9 content">
          <!-- This content will take up 9/12 of the container -->
          {{ content }}
        </div>
      </div>
      <div class="row footer">
        <div class="col-12">
          <!-- This content will take up 12/12 of the container -->
          {%- include footer.html -%}
        </div>
      </div>
    </div>

    <script src="{{ "assets/js/interaction.js" | relative_url }}"></script>

  </body>

</html>
