<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  
  <!-- This is to get the url of the translated page (stored here in liquid variable 'translation') -->
  {%- if page.lang == "de" -%}
    {%- for site_en in site.en -%}
      {%- if page.uid == site_en.uid -%}
        {%- assign translation = site_en.url -%}
      {%- endif -%}
    {%- endfor -%}
    {%- if page.uid == "hme" -%}
      {%- assign translation = "/" -%}
    {%- endif -%}
  {%- else -%}
    {%- for site_de in site.de -%}
      {%- if page.uid == site_de.uid -%}
        {%- assign translation = site_de.url -%}
      {%- endif -%}
    {%- endfor -%}
  {%- endif -%}

  {%- include head.html -%}

  <body>
    <script type="text/javascript">
      // Cookie handling
      // Function to get today + one year
      function plusOneYear() {
        let plusOneYear = new Date();
        plusOneYear.setFullYear(plusOneYear.getFullYear() + 1);
        return plusOneYear;
      };
      // Function to check the existence of a cookie by name
      function getCookie(cName) {
          let cValue = document.cookie,
              cStart = cValue.indexOf(" " + cName + "=");
          if (cStart == -1) cStart = cValue.indexOf(cName + "=");
          if (cStart == -1) {
              // Null if cookie doesn't exist
              cValue = null;
          } else {
              cStart = cValue.indexOf("=", cStart) + 1;
              let cEnd = cValue.indexOf(";", cStart);
              if (cEnd == -1) {
                  cEnd = cValue.length;
              }
              // Value of cookie if it exists
              cValue = decodeURI(cValue.substring(cStart, cEnd));
          }
          return cValue;
      };
      // Check language
      function checkLang() {
          // Get document language
          let docLang = document.documentElement.lang;
          // Get cookie "lang"
          let cookie = getCookie("lang");
          if (cookie == null) { // Cookie "lang" doesn't exist
            // Get today plus one year
            let cExpires = plusOneYear();
            // Set cookie with current page language
            document.cookie = "lang={{ page.lang }}; path=/; SameSite=strict; expires=" + String(cExpires);
          }
          else { // Cookie exists
              // Check document language vs. cookie "lang"
              if (docLang != cookie) { // Redirect to translation if they are not the same
                // {{ translation }} is assigned above
                window.location.replace("{{ translation | relative_url }}");
              }
          }
      };
      // Call the function to check the "lang" cookie
      checkLang();
    </script>

    <div class="container">
      <div class="row">
        <div class="col-3 navigation">
          {%- include navigation.html -%}
        </div>
        <div class="col-9 content">
          {{ content }}
        </div>
      </div>
      <div class="row footer">
        <div class="col-12">
          {%- include footer.html -%}
        </div>
      </div>
    </div>

    <script type="text/javascript">
      // Overwrite cookie "lang" when language is changed
      // Get the DE | EN elements on the page
      let langDE = document.getElementById("lang-DE");
      let langEN = document.getElementById("lang-EN");
      // Check if #lang-DE exists (it's not defined on DE pages)
      if (typeof(langDE) != "undefined" && langDE != null) {
        // Add click event to overwrite cookie "lang"
        langDE.addEventListener("click", function() {
          let cExpires = plusOneYear(); // Today plus one year
          document.cookie = "lang=de; path=/; SameSite=strict; expires=" + String(cExpires);
        })
      };
      // Check if #lang-EN exists (it's not defined on EN pages)
      if (typeof(langEN) != "undefined" && langEN != null) {
        // Add click event to overwrite cookie "lang"
        langEN.addEventListener("click", function() {
          let cExpires = plusOneYear(); // Today plus one year
          document.cookie = "lang=en; path=/; SameSite=strict; expires=" + String(cExpires);
        })
      };
    </script>
    <script type="text/javascript" src="{{ "/assets/js/interaction.js" | relative_url }}"></script>
    <script type="text/javascript" src="{{ "/assets/js/cookieconsent.js" | relative_url }}" data-cfasync=”false”></script>
    {%- if page.lang == "de" -%}
      <script>
        window.cookieconsent.initialise({
          "palette": {
            "popup": {
              "background": "#ffffff",
              "text": "#333447"
            },
            "button": {
              "background": "#514efd"
            }
          },
          "position": "bottom-right",
          "content": {
            "message": "Diese Website platziert ein Cookie, um sich an Ihre ausgewählte Sprache zu erinnern.",
            "dismiss": "Verstanden",
            "link": "Mehr erfahren"
          }
        });
      </script>
    {%- else -%}
      <script>
        window.cookieconsent.initialise({
          "palette": {
            "popup": {
              "background": "#ffffff",
              "text": "#333447"
            },
            "button": {
              "background": "#514efd",
              "message": "test"
            }
          },
          "position": "bottom-right",
          "content": {
            "message": "This website places one cookie to remember your selected language."
          }
        });
      </script>
    {%- endif -%}

  </body>

</html>
