---
layout: default
---
<div class="row">
    <div class="col-12">
		<div>
			{%- if page.title -%}
				<!-- Show page title -->
		    	<h1>{{ page.title }}</h1>
		  	{%- endif -%}
		</div>
	</div>
</div>

<div class="row">

	{%- for project in page.projects -%}

	<div class="col-3">
		<a href="{{ project.url }}" target="_blank"><img class="project-image" src="{% capture url %}/assets/images/projects/{{ project.image }}{% endcapture %}{{ url | relative_url }}"></a>
	</div>
	<div class="col-9">
		<h4><a href="{{ project.url }}" target="_blank">{{ project.title }}</a></h4> 
		<p>
			{{ project.desc }}
		</p>
		<p>
			{{ project.stack | join: " &#183; " }}
		</p>
	</div>

	{%- endfor -%}

</div>

{{ content }}
