---
layout: default
---
<div class="background-k">

	{%- if page.title -%}
		<!-- Show page title -->
    	<h1>{{ page.title }}</h1>
  	{%- endif -%}

  <div>

  	<div class="service-terms">
		  	{%- if page.terms -%}
		  		<!-- List the key terms -->
		  		{{ page.terms | join: " &#183; " }}
		  	{%- endif -%}
  	</div>

    <div class="service-image">
      <img src="{% capture url %}/assets/images/{{ page.image }}{% endcapture %}{{ url | relative_url }}">
      <!-- <img src="{{ site.url }}{{ site.baseurl }}/assets/images/{{ page.image }}"> -->
    </div>

    {{ content }}

  </div>

</div>
